@media (max-width: 540px) {
  #body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 20px;
    margin-top: -130px;
    margin-bottom: -50px;

  }
  .tebrik-yazisi {
   font-size: 1rem;
  
  }
  #logo{
    
  }

}